@model teatsite.Models.tLinks

@{
    ViewBag.Title = "Details";
}
@{
    Layout = "~/Views/Shared/_Layout_admin1.cshtml";
}
<h2>Details</h2>

<fieldset>
    <legend>tLinks</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.url)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.url)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.addedlink)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.addedlink)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.images)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.images)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
