@model teatsite.Models.tNews

@{
    ViewBag.Title = "Create";
}
@{
    Layout = "~/Views/Shared/_Layout_item2.cshtml";
}


<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Content/ckfinder/config.js"></script>



<script language="javascript">
    $(document).ready(function () {
        $("#menus_ids").change(function () {
            //alert("sdfsdfsdf");
            var Ocategory = parseInt($("#menus_ids").val());
            //alert("sdfsdfsdf     "+schoolID);
            if (!isNaN(Ocategory)) {
                //alert("sdfsdfsdf" + Ocategory);
                var ddCatID = $("#subs_id");
                //alert("sdfsdfsdf");
                ddCatID.empty();
                ddCatID.append($("<option></option>").val("").html("--------"));
                //alert("Энд ирж байна уу");
                $.ajax({
                    url: "@Url.Action("getMenus", "n")",
                    type: "GET",
                    data: { id: Ocategory },
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var k = 0;
                   //alert("Энд ирж байна уу");
                    $.each(data, function (i, name) {
                        k++;
                        //alert(i);
                        //alert("OK:   " + id + data[id].name+ "      " + name);
                        ddCatID.append(
                            $("<option></option>").val(data[i].id).html(data[i].name)
                            );
                    });
                },
                error: function () {
                    alert("Error");
                }

            })
            }
        })
    })



</script>







<h2>Create</h2>

@using (Html.BeginForm("create", "n", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tNews</legend>


        Үндсэн цэс:
        @Html.DropDownList("menus_ids", "------------")

        @*@Html.DropDownList("dropdownCountry", new SelectList(string.Empty, "Value", "Text"), "Please select a country", new { @style = "width:250px;" })*@




        Дэд цэс: @Html.DropDownList("subs_id", Enumerable.Empty<SelectListItem>(), "------")
        @*@Html.DropDownList("dropdownState", new SelectList(string.Empty, "Value", "Text"), "Please select a state", new { @style = "width:250px;" })*@










        @*<div class="editor-label">
                @Html.LabelFor(model => model.menus_ids, "tMenu")
            </div>
            <div class="editor-field">
                @Html.DropDownList("menus_ids", String.Empty)
                @Html.ValidationMessageFor(model => model.menus_ids)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.subs_id, "tSubmenu")
            </div>
            <div class="editor-field">
                @Html.DropDownList("subs_id", String.Empty)
                @Html.ValidationMessageFor(model => model.subs_id)
            </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.title_more)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.title_more)
            @Html.ValidationMessageFor(model => model.title_more)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.detials)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.detials, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.detials)
        </div>

        <label for="file">Зураг оруулах:</label>
        <input type="file" name="file" id="file" style="width: 100%;" />




        <div class="editor-label">
            @Html.LabelFor(model => model.news_video)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.news_video)
            @Html.ValidationMessageFor(model => model.news_video)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.news_audio)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.news_audio)
            @Html.ValidationMessageFor(model => model.news_audio)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
