@model teatsite.Models.tNews

@{
    ViewBag.Title = "Details";
}
@{
    Layout = "~/Views/Shared/_Layout_reading.cshtml";
}
<div class="content_title"><h2>@Model.tSubmenu.name</h2></div>


<h2>@Model.title</h2>


   

    

    @Html.Raw(Model.detials)

@Html.Raw(Model.news_video)

  

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
