@model IEnumerable<teatsite.Models.tNews>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.tSubmenu.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tMenu.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title_more)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detials)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.images)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addedtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.news_count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.news_video)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.news_audio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.tSubmenu.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tMenu.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title_more)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.detials)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.images)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addedtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.news_count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.news_video)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.news_audio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
