@model teatsite.Models.LocalPasswordModel



@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
                <div class="well col-md-5 center login-box">
                <div class="alert alert-info">
                    Нууц үг солих, хамгаалалт сайжруулах
                </div>
                <form class="form-horizontal" action="index.html" method="post">
                    <fieldset>
                        <legend>Нууц үг солих хэсэг</legend>
                     
              
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
                               
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Хуучин нууц үгээ оруулна уу!!!" })
                           
                            </div>
                        <div class="clearfix"></div><br>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>

                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Нууц үг" })

                        </div>
                        <div class="clearfix"></div><br>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>

                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Шинэ нууц үгээ баталгаажуулах" })

                        </div>

                     
                           

                        <div class="clearfix"></div>
                        <p class="center col-md-5">
                            <button type="submit" class="btn btn-primary">Нууц үг солих</button>
                        </p>
</fieldset>


                  
                </form>
            </div>
}
