<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">



<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/Images/logo_nema.png" />
    <!--Oswald Font -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="css/tooltipster.css" />
    <link href="~/Content/css/tooltipster.css" rel="stylesheet" />
    <!-- home slider-->
    <link href="css/pgwslider.css" rel="stylesheet" />
    <link href="~/Content/css/pgwslider.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link href="~/Content/featured_slide.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.4.1.min.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery.timers.1.2.js"></script>
    <script src="~/Scripts/jquery.galleryview.2.1.1.min.js"></script>
    <script src="~/Scripts/jquery.galleryview.setup.js"></script>
   
</head>

<body>

    <section id="header_area">
        <div class="wrapper header">
            <div class="clearfix header_top">
                <div class="clearfix logo floatleft">
                    @*<a href=""><h1><span>Архигүй, Тамхигүй</span> Ховдчууд</h1></a>*@
                </div>
                <div class="clearfix search floatright">
                    <form action="~/n/s" method="get">
                        <input type="text" name="Searching" placeholder="Хайх" />
                        <input type="submit" />
                    </form>
                </div>
            </div>
            <div class="header_bottom">
                <nav>
                    <ul id="nav">

                        @Html.Action("menu_list", "menu")

                    </ul>
                </nav>


            </div>
        </div>
    </section>

    <section id="content_area">
        <div class="clearfix wrapper main_content_area">

            <div class="clearfix main_content floatleft">

               







                <div class="clearfix content">

                   


                        @RenderBody()



                 
                </div>


            </div>
            <div class="clearfix sidebar_container floatright">

                @*<div class="clearfix newsletter">
                    <form>
                        <h2>Signup for newsletter</h2>
                        <input type="text" placeholder="Name" id="mce-TEXT" />
                        <input type="email" placeholder="Name" id="mce-EMAIL" />
                        <input type="submit" value="Submit" id="mc-embedded-subscribe" />
                    </form>
                </div>*@
                <div class="clearfix sidebar">
                    <div class="clearfix single_sidebar">
                        <div class="popular_post">
                            <div class="sidebar_title"><h2>Сүүлд нэмэгдсэн мэдээ</h2></div>
                            <ul>
                                @Html.Action("lastnews", "n")

                            </ul>
                        </div>
                    </div>
                    <div class="clearfix single_sidebar">
                        @Html.Action("newscount", "n")
                    </div>
                    <div class="clearfix single_sidebar category_items">
                        @Html.Action("mList", "menu")
                    </div>
                 
                </div>
            </div>
        </div>
    </section>

    <section id="footer_top_area">
        <div class="clearfix wrapper footer_top">
            <div class="clearfix footer_top_container">
                <div class="clearfix single_footer_top floatleft">
                    <h2>Цаг агаарын 5 хоногийн мэдээ</h2>
                    <iframe id="forecast_embed" type="text/html" frameborder="0" height="300" width="320" src="http://tsag-agaar.gov.mn/embed/?name=277&color=ef6e25&color2=cc530e&color3=ffffff&color4=ffffff&type=horizontal&tdegree=c&width=100%"> </iframe>
                  </div>
                <div class="clearfix single_footer_top floatleft">
                    <h2>Facebook хуудас</h2>
                    <p><div class="fb-like-box" data-href="https://www.facebook.com/%D0%93%D0%BE%D0%B2%D1%8C-%D0%90%D0%BB%D1%82%D0%B0%D0%B9-%D0%9E%D0%BD%D1%86%D0%B3%D0%BE%D0%B9-%D0%91%D0%B0%D0%B9%D0%B4%D0%BB%D1%8B%D0%BD-%D0%93%D0%B0%D0%B7%D0%B0%D1%80-1055180371233806/" data-width="325" data-height="300" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div></p>
              </div>
                <div class="clearfix single_footer_top floatleft">
                    @*hul hesgiin xolboos duudaj baigaa xeseg*@
                 
                </div>
            </div>
        </div>
    </section>

    <section id="footer_bottom_area">
        <div class="clearfix wrapper footer_bottom">
            <div class="clearfix copyright floatleft">
                <p> Говь-Алтай аймаг. © 2017 он. Copyright &copy; Онцгой байдлын газар @*<span>Wpfreeware.com</span>*@</p>
            </div>
            <div class="clearfix social floatright">
                <ul>
                    <li><a class="tooltip" title="Facebook" href=""><i class="fa fa-facebook-square"></i></a></li>
                    <li><a class="tooltip" title="Twitter" href=""><i class="fa fa-twitter-square"></i></a></li>
                    <li><a class="tooltip" title="Google+" href=""><i class="fa fa-google-plus-square"></i></a></li>
                    <li><a class="tooltip" title="LinkedIn" href=""><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a class="tooltip" title="tumblr" href=""><i class="fa fa-tumblr-square"></i></a></li>
                    <li><a class="tooltip" title="Pinterest" href=""><i class="fa fa-pinterest-square"></i></a></li>
                    <li><a class="tooltip" title="RSS Feed" href=""><i class="fa fa-rss-square"></i></a></li>
                    <li><a class="tooltip" title="Sitemap" href=""><i class="fa fa-sitemap"></i> </a></li>
                </ul>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.0.min.js"></script>
    <script src="~/Content/js/jquery.tooltipster.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tooltip').tooltipster();
        });
    </script>
    <script src="~/Content/js/selectnav.min.js"></script>
    <script type="text/javascript">
        selectnav('nav', {
            label: '-Navigation-',
            nested: true,
            indent: '-'
        });
    </script>
    <script src="~/Content/js/pgwslider.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.pgwSlider').pgwSlider({

                intervalDuration: 5000

            });
        });
    </script>
    <div id="fb-root"></div>
    <script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <script src="~/Content/js/placeholder_support_IE.js"></script>



</body>
</html>
