@model teatsite.Models.tMenu

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tMenu</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.menu_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.menu_id)
            @Html.ValidationMessageFor(model => model.menu_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.images)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.images)
            @Html.ValidationMessageFor(model => model.images)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.addeddate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.addeddate)
            @Html.ValidationMessageFor(model => model.addeddate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
